{% extends "base.html" %}
{% block content %}

<form action="/convert" method="POST">
    <h3>Convert</h3>
    <br>
    
    <label for="amount"></label>
    <input type="text" id="amount" name="amount" placeholder="value in base currency">
    <label for="base_currency"></label>
    <input type="text" id="base_currency" name="base_currency" placeholder="base currency">
    
    <br>
    <h3>to...</h3>
    <br>
    <label for="target_currency"></label><br>
    <input type="text" id="target_currency" name="target_currency" placeholder="desired currency">

    <input type="submit" value="Convert">
  </form> 

{% endblock %}